@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3663ad;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 0.5s ease-out forwards;
}

.vote-card {
  margin: 0px 30px;
  display: flex;
  border-radius: 4px;
  padding: 14px;
  background-color: #1b4486;
  justify-content: space-between;
  color: #21dbc0;
}

.vote-select-container {
  padding: 30px;
  background-color: #21dbc0;
}
